@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");

* {
  font-family: "Tajawal";
}

.container {
  max-width: 80rem;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid violet;
}

body {
  background: #000;
}

/* HEADER  TOP */

.top-header-container {
}

.top-header-wrapper {
  height: 4rem;
  background-color: black;
  border-bottom: 1px solid rgb(170, 163, 163);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-signup__btn {
  background-color: #fc3b00;
  color: white;
  padding: 0.4rem 1.4rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 15px;
}

.header-search-container {
  position: relative;
  flex-basis: 50%;
}

.header-search__input {
  width: 100%;
  background: #202326;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  padding-left: 2rem;
  outline: none;
}

.header-search__input::placeholder {
  font-weight: 600;
}

.header-logo-container {
  position: relative;
  height: 100%;
}

.header-logo__img {
  width: 100%;
  height: 100%;
}

/* HEADER  BOTTOM */

.bottom-header-container {
}

.bottom-header-wrapper {
  display: flex;
  height: 38rem;
  width: 100%;
  background-color: #202326;
}

.header-content-slider {
  position: relative;
  flex-basis: 100%;
  height: 100%;
}

.header-content__img {
  width: 100%;
  height: 100%;
}

/* INTRO SONGS */

.intro-songs-container {
  margin: 2rem 9rem;
}
.intro-songs-wrapper {
}

.intro-song-content {
  display: grid;
  position: relative;
  grid-template-rows: repeat(2, 4rem);
  grid-template-columns: repeat(2, 1fr);
  max-width: 50%;
  border-radius: 0.3rem;
  background-color: #101316;
  padding: 1.4rem 0;
}

.intro-song-infos {
  grid-column: 1/2;
  display: grid;
  align-self: center;
  height: 6rem;
  padding-left: 1.4rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.intro-song__name {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  font-size: 16px;
  color: white;
  padding-left: 0.5rem;
}

.intro-song__artist {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  font-size: 12px;
  color: gray;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
}

.intro-song__img {
  grid-row: 1/-1;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.intro-song__img img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

.intro-song__play {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  color: gray;
  font-size: 29px;
  padding-top: 1rem;
  padding-left: 3rem;
  transition: 0.4s ease;
  cursor: pointer;
}

.intro-song__play i {
  transition: 0.4s ease;
}

.intro-song__play i:hover {
  transform: translateY(-1px) scale(1.09);
  color: #c13106;
}

.intro-song__prograss {
  grid-row: 2/3;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  position: relative;
  padding: 0 2rem;
  height: 5px;
  width: 75%;
  background: #3e4042;
  border-radius: 0.4rem;
  margin-top: 4rem;
  cursor: pointer;
}

.intro-prograss__fit {
  position: absolute;
  left: 0;
  height: 100%;
  width: 85%;
  transition: 0.4s ease;
  background: #c13106;
}

.intro-prograss__fit::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #fff;
  padding: 2px;
}

.intro-current-time {
  position: absolute;
  left: 0;
  bottom: 15px;
  color: #c13106;
  text-shadow: 0 0 1px #fff;
}

.intro-duration-time {
  position: absolute;
  right: 0;
  bottom: 15px;
  color: #c13106;
  text-shadow: 0 0 1px #fff;
}

.swiper-button-next {
  /* opacity: 0; */
  /* display: none; */
}
.swiper-button-prev {
  /* opacity: 0; */
  /* display: none; */
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

/* additional media query`s */

@media only screen and (max-width: 1280px) {
  .bottom-header-wrapper {
    height: 31rem;
  }
}
